@model OrchardPros.ViewModels.RecommendationViewModel
@{
    Layout.Title = @T("Create Recommendation");
}
@Html.ValidationSummary()
@using (Html.BeginFormAntiForgeryPost(Url.Action("Create", "Recommendation", new { id = Model.User.UserName, area = "OrchardPros" }), FormMethod.Post, new { role = "form", @class = "form-horizontal" })) {
    @Html.EditorForModel()
    <fieldset>
        <button class="btn btn-success btn-save" type="submit" name="submit.Save" value="submit.Save">@T("Create")</button>
        @Html.ProfileLink(T("Cancel").ToString(), Model.User.UserName, new { @class = "btn btn-default" })
    </fieldset>
}