@model OrchardPros.Careers.ViewModels.PositionViewModel
<fieldset>
    <div class="form-group">
        @Html.LabelFor(m => m.CompanyName, T("Company"))
        @Html.TextBoxFor(m => m.CompanyName, new { @class = "text medium" })
        @Html.ValidationMessageFor(m => m.CompanyName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Title, T("Title"))
        @Html.TextBoxFor(m => m.Title, new { @class = "text medium" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Location, T("Location"))
        @Html.TextBoxFor(m => m.Location, new { @class = "text medium" })
        @Html.ValidationMessageFor(m => m.Location)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PeriodStartYear, T("Start Period"))
        @Html.EditorFor(m => m.PeriodStartYear, new { Model.Years })
        @Html.EditorFor(m => m.PeriodStartMonth, new { Model.Months })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PeriodEndYear, T("End Period"))
        @Html.EditorFor(m => m.PeriodEndYear, new { Model.Years })
        @Html.EditorFor(m => m.PeriodEndMonth, new { Model.Months })
        <div class="checkbox-and-label">
            @Html.CheckBoxFor(m => m.IsCurrentPosition)            
            @Html.LabelFor(m => m.IsCurrentPosition, new { @class = "forcheckbox" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, T("Description"))
        @Html.TextAreaFor(m => m.Description, new { @class = "text medium" })
    </div>
</fieldset>