@{
    Layout.Title = T("Change Password");
}
<p>@T("Use the form below to change your password.")</p>
<p>@T("New passwords are required to be a minimum of {0} characters in length.", ViewData["PasswordLength"]) </p>
@Html.ValidationSummary(T("Password change was unsuccessful. Please correct the errors and try again.").ToString())
@using (Html.BeginFormAntiForgeryPost()) { 
    <fieldset>
         <div class="form-group">
            <label for="currentPassword">@T("Current password")</label>
            @Html.Password("currentPassword", ViewData.TemplateInfo.FormattedModelValue, new { @class = "form-control" }) 
        </div>        
        <div class="form-group">
            <label for="newPassword">@T("New password")</label>
            @Html.Password("newPassword", ViewData.TemplateInfo.FormattedModelValue, new { @class = "form-control" }) 
        </div>
        <div class="form-group">
            <label for="confirmPassword">@T("Confirm new password")</label>
            @Html.Password("confirmPassword", ViewData.TemplateInfo.FormattedModelValue, new { @class = "form-control" }) 
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-submit" type="submit">@T("Change Password")</button>
        </div>
    </fieldset>
 } 