@{
    Layout.Title = T("Lost Password");
}
<p>@T("Please enter your username or email address. You will receive a link to create a new password via email.")</p>
@Html.ValidationSummary()
@using (Html.BeginFormAntiForgeryPost()) { 
    <fieldset>
        <div class="form-group">
            <label for="username">@T("Username or E-mail:")</label>
            @Html.TextBox("username", ViewData.TemplateInfo.FormattedModelValue, new { @class = "form-control" }) 
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-submit" type="submit">@T("Send Request")</button>
        </div>
    </fieldset>
 } 