@model OrchardPros.Membership.Models.UserProfilePart
<fieldset>
    <legend>@T("Profile")</legend>
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, T("First Name"))
        @Html.TextBoxFor(m => m.FirstName, new { @class = "text medium" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MiddleName, T("Middle Name"))
        @Html.TextBoxFor(m => m.MiddleName, new { @class = "text small" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, T("Last Name"))
        @Html.TextBoxFor(m => m.LastName, new { @class = "text medium" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Level, T("Level"))
        @Html.TextBoxFor(m => m.Level, new { @class = "text small" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AvatarType, T("Avatar Type"))
        @Html.EditorFor(m => m.AvatarType, "AvatarTypeSelector")
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Bio, T("Biography"))
        @Html.TextAreaFor(m => m.Bio, new { @class = "text large" })
    </div>
</fieldset>