@model OrchardPros.ViewModels.TicketViewModel
@{
    Layout.Title = @T("Edit Ticket");
}
<section class="half-size center-block">
    @using (Html.BeginFormAntiForgeryPost()) {
        @Html.ValidationSummary()
        @Html.EditorForModel()
        <fieldset>
            <button type="submit" class="btn btn-success btn-submit">@T("Save Ticket")</button>
            @Html.ActionLink(T("Cancel").ToString(), "Edit", "Ticket", new { Model.Id, Area = "OrchardPros" }, new { @class = "btn btn-default" })
        </fieldset>
    }
</section>