@{
    Layout.Title = @T("Edit Reply");
}
@Html.ValidationSummary()
@using (Html.BeginFormAntiForgeryPost()) {
    @Html.TextBox("Title")
    @Html.TextArea("Body")
    <fieldset>
        <button type="submit">@T("Update Reply")</button>
    </fieldset>
}