@{
    Style.Include("bootstrap.css", "bootstrap.min.css");
    Style.Include("theme.css", "theme.min.css");
    Script.Require("jQuery").Define(x => x.SetCdn("https://code.jquery.com/jquery.js")).UseCdn(false).AtFoot();
    Script.Include("html5shiv.js").Define(x => x.SetCdn("https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")).UseCdn(false).UseCondition("if lt IE 9").AtHead();
    Script.Include("respond.min.js").Define(x => x.SetCdn("https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")).UseCdn(false).UseCondition("if lt IE 9").AtHead();
    Script.Include("bootstrap.js", "bootstrap.min.js").AtFoot();
    Script.Include("common.js", "common.min.js").AtFoot();
}
@functions {
    string ContentZoneClass() {
        return Model.AsideFirst == null && Model.AsideSecond == null ? "col-md-12" : Model.AsideFirst != null && Model.AsideSecond != null ? "col-md-5" : "col-md-8";
    }

    string AsideSecondZoneClass() {
        return Model.Content == null && Model.AsideFirst == null ? "col-md-12" : Model.Content != null && Model.AsideFirst != null ? "col-md-3" : "col-md-4";
    }

    string AsideFirstZoneClass() {
        return Model.Content == null && Model.AsideSecond == null ? "col-md-12" : "col-md-4";
    }
}
@if (Model.Overlays != null) {
    @Display(Model.Overlays)
}
@Display.SiteBar()
@Display.NavBar()
<div class="container">
    @if (Model.Messages != null) {
        @Display(Model.Messages)
    }
    @if (Model.Title != null) {
        <div class="header">
            <h1>@Model.Title</h1>
        </div>
    }
    
    @if (Model.Jumbotron != null) {
        @Display(Model.Jumbotron)
    }

    @if (Model.Content != null || Model.AsideFirst != null || Model.AsideSecond != null) {
        <div class="row">
            @if (Model.AsideFirst != null) {
                <div class="@AsideFirstZoneClass()">
                    @Display(Model.AsideFirst)
                </div>
            }

            @if (Model.Content != null) {
                <div class="@ContentZoneClass()">
                    @Display(Model.Content)
                </div>
            }
            
            @if (Model.AsideSecond != null) {
                <div class="@AsideSecondZoneClass()">
                    @Display(Model.AsideSecond)
                </div>
            }
        </div>
    }
</div>

@if (Model.AfterContent != null) {
    @Display(Model.AfterContent)
}

@Display.Footer()