<!-- Navbar -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="~/"><img src="~/themes/orchardprostheme/images/logo-orchard-pros.png" alt="Orchard Pros"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("Create", "Ticket", new { area = "OrchardPros" })" class="btn btn-default btn-create-ticket">@T("Create ticket")</a>
                </li>
                <li><a href="@Url.Action("Index", "Ticket", new { area = "OrchardPros" })">@T("Tickets")</a></li>
                <li><a href="@Url.Action("Index", "People", new { area = "OrchardPros" })">@T("People")</a></li>
                <li><a href="@Url.Action("Index", "Companies", new { area = "OrchardPros" })">@T("Companies")</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
					<form class="navbar-form navbar-left" role="form" method="GET" action="@Url.Action("Index", "Ticket", new { area = "OrchardPros" })">
				    	<div class="input-group">
							<input type="text" class="form-control" placeholder="Search" name="term" value="@Request.QueryString["term"]">
							<div class="input-group-btn col-lg-3">
								<button type="button" class="btn btn-default btn-submit dropdown-toggle" data-toggle="dropdown">@T("Search") <span class="caret"></span></button>
				            	<ul class="dropdown-menu pull-right" role="menu">
				        	      <li><a href="#">All</a></li>
				    	          <li><a href="#">Tickets</a></li>
					              <li><a href="#">People</a></li>
					              <li><a href="#">Companies</a></li>
					            </ul>
				          	</div><!-- /btn-group -->
				        </div><!-- /input-group -->
					</form>                    
                </li>
            </ul>
        </div>
    </div>
</nav> <!-- /.navbar -->