@using Orchard.ContentManagement
@using Orchard.Security
@using OrchardPros.Models
@{
    var users = (IList<IUser>)Model.Users;
    var pager = Model.Pager;
    var criteria = (PeopleCriteria)Model.Criteria;
}
@helper PageSizes() {
    var pager = Model.Pager;
    var country = (Country)Model.Country;
    var criteria = (PeopleCriteria)Model.Criteria;
    
    var pageSizes = new[] { 10, 20, 50 };
    <div class="btn-group btn-group-sm filter-results">
        @foreach (var pageSize in pageSizes) {
            <a href="@Url.Action("Index", "People", new { countryCode = country != null ? country.Code : default(string), pageSize = pageSize, criteria = criteria })" class="btn btn-default @if(pageSize == (int)pager.PageSize){<text>active</text>}">@pageSize</a>
        }
        <span>@T("per page")</span>
    </div>
}
<section>
    @if (!users.Any()) {
        <p>@T("There are no users to be displayed in the current view.")</p>
    }
    else {
        <div class="sorter">
            <ul class="nav nav-tabs">
                <li @if (criteria == PeopleCriteria.Activity) { <text> class="active" </text> }><a href="@Url.Action("Index", "People", new { criteria = PeopleCriteria.Activity, area = "OrchardPros" })">@T("Activity")</a></li>
                <li @if (criteria == PeopleCriteria.RegistrationDate) { <text> class="active" </text>  }><a href="@Url.Action("Index", "People", new { criteria = PeopleCriteria.RegistrationDate, area = "OrchardPros" })">@T("Registration date")</a></li>
                <li @if (criteria == PeopleCriteria.Name) { <text> class="active" </text>  }><a href="@Url.Action("Index", "People", new { criteria = PeopleCriteria.Name, area = "OrchardPros" })">@T("Name")</a></li>
                <li @if (criteria == PeopleCriteria.Experience) { <text> class="active" </text>  }><a href="@Url.Action("Index", "People", new { criteria = PeopleCriteria.Experience, area = "OrchardPros" })">@T("Experience")</a></li>
            </ul>
            @PageSizes()
        </div>
        foreach (var user in users) {
            var profile = user.As<UserProfilePart>();
            var userUrl = Url.Profile(user);
            var latestPosition = profile.LatestPosition();
            <article class="user">
                <div class="user-summary">
                    <!-- Card -->
                    <div class="panel panel-default idplate">
                        <div class="panel-body">
                            <div class="media">
                                <a href="@userUrl" class="pull-left"><img src="@Url.AvatarUrl(user, this, 64)" class="media-object profile-img-m" alt=""></a>
                                @if (profile.Country != null) {
                                    <a href="@Url.Action("Index", "People", new {countryCode = profile.Country.Code})" class="country-link">@profile.Country.Name</a>
                                }
                                <ul class="expert-info media-body people">
                                    <li class="name">@Html.ProfileLink(user)</li>
                                    <li class="title">@T("Lv. {0:00} {1}", profile.LevelDisplay, profile.RankName)</li>
                                    <li class="rating">
                                        @for (var i = 0; i < profile.Rating; i++) {
                                            <span class="glyphicon glyphicon-star"></span>
                                        }
                                    </li>
                                    <li class="experience">
                                        <p>@T("Total EXP: {0}", profile.ExperiencePoints)</p>
                                    </li>
                                    @*<li class="achievements">
                                        <p>
                                            <img src="~/themes/orchardprostheme/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                                            <img src="~/themes/orchardprostheme/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                                            <img src="~/themes/orchardprostheme/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                                            <img src="~/themes/orchardprostheme/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                                        </p>
                                    </li>*@
                                </ul>
                                <ul class="expert-info people expanded">
                                    @if (latestPosition != null) {
                                        <li class="title">@latestPosition.Title</li>
                                        <li class="area">@latestPosition.Location</li>
                                    }
                                    <li class="member-since">@T("Member since {0:MM/dd/yyyy}", profile.CreatedUtc)</li>
                                    @if (!String.IsNullOrWhiteSpace(profile.Bio)) {
                                        <li class="summary">@profile.Bio</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div> <!-- /.panel -->
                    <!-- End Card -->
                </div>
            </article>
        }
        <div class="sorter bottom">
            @Display(pager)
            @PageSizes()
        </div>
    }

</section>