@using System.Globalization
@using Orchard.ContentManagement
@using Orchard.Security
@using OrchardPros
@using OrchardPros.Models
@{
    var user = (IUser) Model.User;
    var profilePart = user.As<UserProfilePart>();
    var canEditProfile = Authorizer.Authorize(Permissions.ManageOwnProfile, user);
    var hasAnySocialChannels = !StringHelpers.IsNullOrWhiteSpaceAny(profilePart.TwitterAlias, profilePart.FacebookUrl, profilePart.LinkedInUrl, profilePart.CompanyWebsiteUrl, profilePart.BlogUrl);
}
<aside>
    <div class="panel panel-default profile idplate">
        <div class="panel-heading">
            <h3 class="panel-title">@T("Info")</h3>
        </div>
        <div class="panel-body">
            <ul class="expert-info">
                <li class="name">@Html.ProfileLink(user)</li>
                <li class="title">@T("Lv. {0:d2} {1}", profilePart.LevelDisplay, profilePart.RankName)</li>
                <li class="rating">
                    @for (var i = 0; i < profilePart.Rating; i++) {
                        <span class="glyphicon glyphicon-star"></span>
                    }
                </li>
                <li class="experience">
                    <p>@T("{0} EXP", profilePart.ExperiencePoints)</p>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <ul class="expert-info">
                <li class="activity">
                    <h4>Activity</h4>
                    <p>@T("Active since {0}", profilePart.CreatedUtc.ToString("D", CultureInfo.InvariantCulture))</p>
                    <p>@T("Replies: {0}", profilePart.Replies)</p>
                    <p>@T("Tickets solved: {0}", profilePart.SolvedTickets)</p>
                </li>
            </ul>
        </div>
    @if (canEditProfile || hasAnySocialChannels) {
        <div class="panel-body">
            <div class="social-channels">
                <h4>@T("Social")</h4>
                <ul class="expert-info">
                    @if (!String.IsNullOrWhiteSpace(profilePart.TwitterAlias)) {
                        <li><a class="twitter" href="@String.Format("http://twitter.com/{0}", profilePart.TwitterAlias)" title="Twitter" target="_blank"></a></li>
                    }
                    @if (!String.IsNullOrWhiteSpace(profilePart.FacebookUrl)) {
                        <li><a class="facebook" href="@profilePart.FacebookUrl" title="Facebook" target="_blank"></a></li>
                    }
                    @if (!String.IsNullOrWhiteSpace(profilePart.LinkedInUrl)) {
                        <li><a class="linkedin" href="@profilePart.LinkedInUrl" title="LinkedIn" target="_blank"></a></li>
                    }
                    @if (!String.IsNullOrWhiteSpace(profilePart.CompanyWebsiteUrl)) {
                        <li><a class="company" href="@profilePart.CompanyWebsiteUrl" title="Company Website" target="_blank"></a></li>
                    }
                    @if (!String.IsNullOrWhiteSpace(profilePart.BlogUrl)) {
                        <li><a class="blog" href="@profilePart.BlogUrl" title="Blog" target="_blank"></a></li>
                    }
                </ul>
                <div class="clearfix"></div>
            </div>
            @if (canEditProfile) { 
                <a class="btn btn-default btn-sm" href="@Url.Action("Edit", "SocialChannels", new {area = "OrchardPros"})">@T("Edit Social Channels")</a>
            }
        </div>
    }
        @*<div class="panel-body">
            <ul class="expert-info">
                <li class="achievements">
                    <h4>@T("Badges")</h4>
                    <p>
                        <img src="~/themes/orchardprostheme/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                        <img src="~/themes/orchardprostheme/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                        <img src="~/themes/orchardprostheme/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                        <img src="~/themes/orchardprostheme/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                    </p>
                </li>
            </ul>
        </div>*@
    </div> <!-- /.panel -->
</aside>