@using Orchard.Security
@{
    var currentAction = (string)ViewContext.RouteData.Values["action"];
    var user = (IUser)Model.User;
    var isCurrentUser = WorkContext.CurrentUser != null && user.Id == WorkContext.CurrentUser.Id;

    Layout.Jumbotron.Add(New.Profile_Jumbotron(User: user));
    Layout.AsideFirst.Add(New.Profile_Aside(User: user));
}
<section>
    <div class="sorter">
        <ul class="nav nav-tabs">
            <li @if (String.Equals(currentAction, "Index", StringComparison.OrdinalIgnoreCase)) { <text> class="active" </text> }><a href="@Url.Action("Index", "Profile", new { userName = user.UserName, area = "OrchardPros" })">@T("Profile")</a></li>
            <li @if (String.Equals(currentAction, "TicketsCreated", StringComparison.OrdinalIgnoreCase)) { <text> class="active" </text>  }><a href="@Url.Action("TicketsCreated", "Profile", new { userName = user.UserName, area = "OrchardPros" })">@T("Tickets Created")</a></li>
            
            @if (isCurrentUser) { 
                <li @if (String.Equals(currentAction, "TicketsFollowed", StringComparison.OrdinalIgnoreCase)) { <text> class="active" </text>  }><a href="@Url.Action("TicketsFollowed", "Profile", new { userName = user.UserName, area = "OrchardPros" })">@T("Tickets Followed")</a></li>
                <li @if (String.Equals(currentAction, "PayoutProviders", StringComparison.OrdinalIgnoreCase)) { <text> class="active" </text>   }><a href="@Url.Action("PayoutProviders", "Profile", new { userName = user.UserName, area = "OrchardPros" })">@T("Payout")</a></li>
                @*<li @if (String.Equals(currentAction, "ConnectedApps", StringComparison.OrdinalIgnoreCase)) { <text> class="active" </text>   }><a href="@Url.Action("ConnectedApps", "Profile", new { userName = user.UserName, area = "OrchardPros" })">@T("Connected Apps")</a></li>*@
                <li @if (String.Equals(currentAction, "Settings", StringComparison.OrdinalIgnoreCase)) { <text> class="active" </text>  }><a href="@Url.Action("Settings", "Profile", new { userName = user.UserName, area = "OrchardPros" })">@T("Settings")</a></li>
            }
        </ul>
    </div>
    @DisplayChildren(Model)
</section>