@using System.Globalization
@using Orchard.ContentManagement
@using Orchard.Security
@using OrchardPros.Models
@{
    var user = (IUser) Model.User;
    var profilePart = user.As<UserProfilePart>();
}
<aside>
    <div class="panel panel-default profile idplate">
        <div class="panel-heading">
            <h3 class="panel-title">@T("Info")</h3>
        </div>
        <div class="panel-body">
            <ul class="expert-info">
                <li class="name">@Html.ProfileLink(user)</li>
                <li class="title">@T("Lv. {0:d2} {1}", profilePart.Level, profilePart.RankName)</li>
                <li class="rating">
                    @for (var i = 0; i < profilePart.Rating; i++) {
                        <span class="glyphicon glyphicon-star"></span>
                    }
                </li>
                <li class="experience">
                    <p>@T("{0} EXP", profilePart.ExperiencePoints)</p>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <ul class="expert-info">
                <li class="activity">
                    <h4>Activity</h4>
                    <p>@T("Active since {0}", profilePart.CreatedUtc.ToString("D", CultureInfo.InvariantCulture))</p>
                    <p>@T("Replies: {0}", profilePart.Replies.Count())</p>
                    <p>@T("Tickets solved: {0}", profilePart.SolvedTickets.Count())</p>
                </li>
            </ul>
        </div>
        @*<div class="panel-body">
            <ul class="expert-info">
                <li class="achievements">
                    <h4>@T("Badges")</h4>
                    <p>
                        <img src="~/themes/orchardprostheme/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                        <img src="~/themes/orchardprostheme/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                        <img src="~/themes/orchardprostheme/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                        <img src="~/themes/orchardprostheme/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                    </p>
                </li>
            </ul>
        </div>*@
    </div> <!-- /.panel -->
</aside>