@using Orchard.Localization
@using OrchardPros.Models
@{
    Script.Include("search.js");
}
@{
    var currentTerm = Request.QueryString["term"];
    var currentIndex = !String.IsNullOrWhiteSpace(Request.QueryString["index"]) ? Request.QueryString["index"].Trim() : SearchIndex.All.ToString();
    var indexCaptions = new Dictionary<string, LocalizedString> {
        { SearchIndex.All.ToString(), T("Search") },
        { SearchIndex.Tickets.ToString(), T("Tickets") },
        { SearchIndex.People.ToString(), T("People") },
    };
    var currentIndexCaption = indexCaptions.ContainsKey(currentIndex) ? indexCaptions[currentIndex] : T("Search");
}
<div class="search-bar-wrapper">
    <form class="navbar-form navbar-left" role="form" method="GET" action="@Url.Action("Index", "Search", new { area = "OrchardPros" })">
        <div class="input-group search-dropdown">
            <input type="text" class="form-control" placeholder="Search" name="term" value="@currentTerm">
            <input type="hidden" name="index" value="@currentIndex"/>
            <div class="input-group-btn">
                <button type="submit" class="btn btn-default btn-search">@currentIndexCaption</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#" data-caption="@T("Search")" data-search-index="@SearchIndex.All">@T("All")</a></li>
                    <li><a href="#" data-caption="@T("Tickets")" data-search-index="@SearchIndex.Tickets">@T("Tickets")</a></li>
                    <li><a href="#" data-caption="@T("People")" data-search-index="@SearchIndex.People">@T("People")</a></li>
                </ul>
            </div><!-- /btn-group -->
        </div><!-- /input-group -->
    </form>
</div>