@using Orchard.ContentManagement
@using Orchard.Core.Contents
@using OrchardPros.Models
@{
    var ticket = (TicketPart)Model.Ticket;
    var subscriptionSource = ticket.As<SubscriptionSourcePart>();
    var user = ticket.User;
    var currentUser = WorkContext.CurrentUser;
    var isFollowing = subscriptionSource.Subscribers.Any(x => x.Id == currentUser.Id);

}
@if (Authorizer.Authorize(Permissions.EditContent, ticket)) {
    <a class="btn btn-success" href="@Url.Action("Edit", "Ticket", new { id = ticket.Id, area = "OrchardPros" })">@T("Edit")</a>
}
<section>
    <article>
        <h2>@ticket.Subject</h2>
        @ticket.Body
    </article>
    <div class="sorter bottom">
        @if (isFollowing) {
            <a href="@Url.Action("Unsubscribe", "SubscriptionSource", new { id = ticket.Id, area = "OrchardPros", returnUrl = Request.Path })" data-post="@Html.AntiForgeryTokenValueOrchard()">@T("Unfollow Ticket")</a>
        }
        else {
            <a href="@Url.Action("Subscribe", "SubscriptionSource", new { id = ticket.Id, area = "OrchardPros", returnUrl = Request.Path })" data-post="@Html.AntiForgeryTokenValueOrchard()">@T("Follow Ticket")</a>
        }
        <a href="#">Reply</a>
        <a href="#">Share</a>
        <span class="ticket-timestamp">@T("{0} by", Display.DateTimeRelative(dateTimeUtc: ticket.LastModifiedUtc))<a href="@Url.Profile(user)" class="author">@user.UserName</a></span>
    </div>
</section>