@using Orchard.Core.Contents
@using OrchardPros.Models
@{
    var ticket = (TicketPart) Model.Ticket;
    var user = ticket.User;
}
@if (Authorizer.Authorize(Permissions.EditContent, ticket)) {
    <a class="btn btn-success" href="@Url.Action("Edit", "Ticket", new { id = ticket.Id, area = "OrchardPros" })">@T("Edit")</a>
}
<section>
    <article>
        <h2>@ticket.Subject</h2>
        @ticket.Body
    </article>
    <div class="sorter bottom">
        <a href="#">Follow ticket</a>
        <a href="#">Reply</a>
        <a href="#">Share</a>
        <span class="ticket-timestamp">@T("{0} by", Display.DateTimeRelative(dateTimeUtc: ticket.LastModifiedUtc))<a href="@Url.Profile(user.UserName)" class="author">@user.UserName</a></span>
    </div>
</section>