@using Orchard.ContentManagement
@using Orchard.Core.Common.Models
@using OrchardPros.Helpers
@using OrchardPros.Models
@using OrchardProsTheme.Helpers
@{
    var ticket = (TicketPart)Model.Ticket;
    var user = ticket.User;
    var commonPart = ticket.As<CommonPart>();
    var statisticsPart = ticket.As<StatisticsPart>();
    var attachmentsHolderPart = ticket.As<AttachmentsHolderPart>();
    var lastModifier = ticket.LastModifier;
    var categories = ticket.Categories;
    var tags = ticket.Tags;
}
<aside>
    <div class="panel panel-default ticket-details">
        <div class="panel-heading">
            <h3 class="panel-title">@T("Ticket Details")</h3>
        </div>
        <div class="panel-body">
            <div class="ticket-info">
                <a href="#" class="pull-left"><img src="@Url.AvatarUrl(user, this, 64)" class="media-object profile-img-m"></a>
                <span class="ticket-timestamp">@T("Created {0} by", Display.DateTimeRelative(dateTimeUtc: commonPart.CreatedUtc))<span class="author"><a href="#">@user.UserName</a></span></span>
                <span class="ticket-timestamp">@T("Updated {0} by", Display.DateTimeRelative(dateTimeUtc: ticket.LastModifiedUtc))<span class="author"><a href="#">@lastModifier.UserName</a></span></span>
            </div>
            <div class="ticket-summary">
                @foreach (var category in categories) {
                    <a href="#" class="category-link">@category.Name</a>
                }
                <div class="tags">
                    @foreach (var tag in tags) {
                        <a href="#"><span class="label label-default">@tag.Name</span></a>
                    }
                </div>
            </div>
            <div class="ticket-status">
                <ul>
                    <li class="votes"><span class="number">0</span><span class="type">@T("votes")</span></li>
                    <li class="views"><span class="number">@statisticsPart.ViewCount</span><span class="type">@T("views")</span></li>
                    <li class="replies"><span class="number">@ticket.Replies.Count()</span><span class="type">@T("replies")</span></li>
                </ul>
            </div>
        </div> <!-- /.panel -->
        <div class="panel-body ticket-deadline">
            <h2 class="ticket-expiration">@ticket.GetExpirationText(T)</h2>
            @if (ticket.Bounty != null) {
                <span class="ticket-bounty">@T("Bounty: {0:c}", ticket.Bounty)</span>
            }
            <span class="ticket-exp">@T("EXP: {0}", ticket.ExperiencePoints)</span>
        </div>
        @if (attachmentsHolderPart.Attachments.Any()) {
            <div class="panel-body">
                <div class="ticket-attachments">
                    <h3>@T("Attachments")</h3>
                    <ul>
                        @foreach (var attachment in attachmentsHolderPart.Attachments) {
                            <li><a href="@Url.DownloadAttachment(attachment)"><img src="@Url.FileIcon(attachment.OriginalFileName)" alt="Document">@attachment.OriginalFileName</a></li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div><!-- /.ticket-details -->
</aside>