@using Orchard.ContentManagement
@using Orchard.Core.Feeds
@using OrchardPros.Helpers
@using OrchardPros.Models
@{
    var tickets = (IPagedList<TicketPart>)Model.Tickets;
    var tabs = new List<SelectListItem> {
        new SelectListItem {Text = T("Latest").ToString(), Value = TicketsCriteria.Latest.ToString(), Selected = true},
        new SelectListItem {Text = T("Unsolved").ToString(), Value = TicketsCriteria.Unsolved.ToString(), Selected = false},
        new SelectListItem {Text = T("Popular").ToString(), Value = TicketsCriteria.Popular.ToString(), Selected = false},
        new SelectListItem {Text = T("Deadline").ToString(), Value = TicketsCriteria.Deadline.ToString(), Selected = false},
        new SelectListItem {Text = T("Bounty").ToString(), Value = TicketsCriteria.Bounty.ToString(), Selected = false}
    };

    WorkContext.Resolve<IFeedManager>().RegisterTicketsFeed();
}
<section>
    <div class="sorter">
        <ul class="nav nav-tabs">
            @foreach (var tab in tabs) {
                <li @if (tab.Selected) { <text> class="active" </text>    }>
                    <a href="@Url.Action("Index", "Ticket", new { Criteria = tab.Value, Area = "OrchardPros" })">@tab.Text</a>
                </li>
            }
        </ul>
        <a href="@Url.Action("Index", "Ticket", new { area = "OrchardPros" })" class="sorter-link">@T("View all tickets")</a>
    </div>
    <!-- Ticket posts -->
    @foreach (var ticket in tickets) {
        var statisticsPart = ticket.As<StatisticsPart>();
        var repliesPart = ticket.As<RepliesPart>();
        <article class="ticket-post">
            <div class="ticket-summary">
                <h2><a href="@Url.ItemDisplayUrl(ticket)">@ticket.Subject</a></h2>
                @foreach (var category in ticket.Categories) {
                    <a href="@Url.Category(category)" class="category-link">@category.Name</a>
                }
                <div class="tags">
                    @foreach (var tag in ticket.Tags) {
                        <a href="@Url.Tag(tag)"><span class="label label-default">@tag.Name</span></a>
                    }
                </div>
            </div>
            <div class="ticket-status">
                <ul>
                    <li class="views"><span class="number">@statisticsPart.ViewCount</span><span class="type">@T("views")</span></li>
                    <li class="replies @if(ticket.IsSolved){<text>@T("solved")</text>}"><span class="number">@repliesPart.Replies.Count()</span><span class="type">@T("replies")</span></li>
                </ul>
            </div>
            <div class="ticket-info">
                <span class="ticket-expiration">
                    @ticket.GetExpirationText(T)
                </span>
                <span class="ticket-exp">@T("EXP: {0}", ticket.ExperiencePoints)</span>
                @if (ticket.Bounty != null) {
                    <span class="ticket-bounty">
                        @T("Bounty: {0:c}", ticket.Bounty)
                    </span>
                }
                <span class="ticket-timestamp">
                    @T("{0} by", Display.DateTimeRelative(dateTimeUtc: ticket.LastModifiedUtc))
                    <span class="author">
                        @Html.ProfileLink(ticket.LastModifier)
                    </span>
                </span>
            </div>
        </article>
    }
    <div class="sorter bottom"><a href="@Url.Action("Index", "Ticket", new { area = "OrchardPros" })" class="sorter-link">@T("View all tickets")</a></div>
</section>