@using OrchardPros.Models
@{
    var ticket = (TicketPart)Model.Ticket;
    
    Style.Include("jquery.rating.css");
    Script.Require("jQuery");
    Script.Include("jquery.rating.js", "jquery.rating.pack.js");
}
<!-- Overlay -->
<div id="solve-ticket-popup" class="overlay">
    <div class="popup">
        @using (Html.BeginFormAntiForgeryPost(Url.Action("Solve", "Ticket", new { id = ticket.Id, area = "OrchardPros" }), FormMethod.Post, new { role = "form" })) {
            <input type="hidden" name="ReplyId" />
            <div class="panel-body">
                <button type="button" class="close" aria-hidden="true">&times;</button>
                <h2>@T("Solve issue")</h2>
                <div id="own-reply">
                    <p>@T("You are about to solve your own ticket.")</p>
                    @if (ticket.Bounty != null) {
                        <p>@T("The amount of <strong>{0:c}</strong> will be returned to your account.", ticket.Bounty)</p>
                    }
                </div>
                <div id="other-reply">
                    @if (ticket.Bounty != null) {
                        <p>@T("Award this expert <strong>{0:c}</strong> and <strong>{1} EXP</strong> for giving you the best solution.", ticket.Bounty, ticket.ExperiencePoints)</p>
                    }
                    else {
                        <p>@T("Award this expert <strong>{0} EXP</strong> for giving you the best solution.", ticket.ExperiencePoints)</p>
                    }
                    <p>@T("Rate the expert")</p>
                    <p class="clearfix">
                        @for (var i = 0; i < 5; i++) {
                            <input type="radio" name="Rating" value="@(i + 1)" class="star"/>
                        }
                    </p>
                    <h3>@T("Write a review")</h3>
                    <div class="form-group">
                        <textarea name="Recommendation" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group pull-right">
                    <button type="submit" class="btn btn-success btn-submit">@T("Solve issue")</button>
                </div>
            </div>
        }
    </div>
</div>
<!-- /Overlay -->