@using OrchardPros.Membership.Helpers
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">@T(@WorkContext.CurrentSite.SiteName)</a>
            <ul class="nav navbar-nav">
                @if (WorkContext.CurrentUser == null) {
                    <li><a href="@Url.AccountSignUp()">@T("Sign Up")</a></li>
                    <li><a href="@Url.AccountSignIn()">@T("Sign In")</a></li>
                }
                else {
                    <li><a href="@Url.AccountSignOut()">@T("Sign Out")</a></li>
                }
            </ul>
        </div>
        <div class="navbar-collapse collapse">
            @using (Html.BeginFormAntiForgeryPost(Url.AccountSignIn(), FormMethod.Post, new {@class = "navbar-form navbar-right"})) {
                <div class="form-group">
                    <input name="UserNameOrEmailAddress" type="text" placeholder="User Name or Email" class="form-control">
                </div>
                <div class="form-group">
                    <input name="Password" type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">@T("Sign in")</button>
            }
        </div>
    </div>
</nav>