@using Orchard.ContentManagement
@using Orchard.Security
@using OrchardPros.Careers.Helpers
@using OrchardPros.Careers.Models
@using OrchardPros.Membership.Models
@{
    var user = (IUser) Model.User;
    var userProfilePart = user.As<UserProfilePart>();
    var professionalProfilePart = user.As<ProfessionalProfilePart>();
}
<article class="profile-title">
    <h2>Title</h2>
    <h4>@professionalProfilePart.Title</h4>
    <p class="small">@professionalProfilePart.Location</p>
</article>
<article class="profile-summary">
    <h2>@T("Summary")</h2>
    <p>@userProfilePart.Bio</p>
</article>
<article class="profile-experience">
    <h2>@T("Positions")</h2>
    @if (!professionalProfilePart.Positions.Any()) {
        <p>@T("No positions have been entered yet.")</p>
    }
    else {
        <ul class="list-jobs">
            @foreach (var position in professionalProfilePart.Positions) {
                <li>
                    <h4>@position.Title</h4>
                    <p>@position.CompanyName</p>
                    <p class="small">@T("From: {0} to: {1}", position.Start(), position.End())</p>
                </li>
            }
        </ul>
    }
</article>
<article class="profile-skills">
    <h2>@T("Skills")</h2>
    <div class="block tagcloud">
        @if (!professionalProfilePart.Skills.Any()) {
            <p>@T("No skills have been specified yet.")</p>
        }
        else {
            foreach (var skill in professionalProfilePart.Skills) {
                <a href="#"><span class="label label-default">@skill.Name</span></a>
            }
        }
    </div>
</article>
<article class="profile-recommendations">
    <h2>@T("Recommendations")</h2>
    @if (!professionalProfilePart.Recommendations.Any()) {
        <p>@T("No recommendations were given yet.")</p>
    }
    else {
        foreach (var recommendation in professionalProfilePart.Recommendations) {
            <div class="media">
                <a href="#" class="pull-left"><img src="~/themes/orchardpros/images/temp-profile.png" alt="@recommendation.RecommendingProfileId" class="profile-img-s media-object"></a>
                <div class="media-body">
                    <p><span class="dropcap">&nbsp;</span>@recommendation.Text</p>
                </div>
            </div>
        }
    }
</article>