@using System.Globalization
@using Orchard.ContentManagement
@using Orchard.ContentManagement.Aspects
@using Orchard.Security
@using OrchardPros.Membership.Models
@using OrchardPros.Tickets.Models
@{
    var user = (IUser) Model.User;
    var profilePart = user.As<UserProfilePart>();
    var expertPart = user.As<ExpertPart>();
}
<aside>
    <div class="panel panel-default idplate">
        <div class="panel-heading">
            <h3 class="panel-title">@T("Info")</h3>
        </div>
        <div class="panel-body">
            <ul class="expert-info">
                <li class="name"><a href="#">@profilePart.DisplayName</a></li>
                <li class="title">@T("Lv. {0:d2} {1}", expertPart.Level, expertPart.RankName)</li>
                <li class="rating">
                    @for (var i = 0; i < expertPart.Rating; i++) {
                        <span class="glyphicon glyphicon-star"></span>
                    }
                </li>
                <li class="experience">
                    <p>@T("{0} EXP", expertPart.ExperiencePoints)</p>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <ul class="expert-info">
                <li class="activity bordered-top-bottom">
                    <h4>Activity</h4>
                    <p>@T("Active since {0}", profilePart.CreatedUtc.ToString("D", CultureInfo.InvariantCulture))</p>
                    <p>Replies: 30</p>
                    <p>Tickets solved: 4</p>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <ul class="expert-info">
                <li class="achievements">
                    <h4>Achievements</h4>
                    <p>
                        <img src="~/themes/orchardpros/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                        <img src="~/themes/orchardpros/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                        <img src="~/themes/orchardpros/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                        <img src="~/themes/orchardpros/images/temp-icon-achievement.png" class="icon-achievement" alt="Achievement">
                    </p>
                </li>
            </ul>
        </div>
    </div> <!-- /.panel -->
</aside>