@using Orchard.ContentManagement
@using Orchard.Security
@using OrchardPros.Membership.Helpers
@using OrchardPros.Membership.Models
@{
    var isAuthenticated = WorkContext.CurrentUser != null;
}
<!-- Sitebar -->
<nav class="sitebar orchard" role="navigation">
    <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Orchard Network <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            @if (!isAuthenticated) {
                <li><a href="@Url.Action("SignIn", "Account", new {area = "OrchardPros.Membership"})">@T("Signin")</a></li>
                <li><a href="@Url.Action("SignUp", "Account", new {area = "OrchardPros.Membership"})">@T("Register")</a></li>
            }
            else {
                var profilePart = WorkContext.CurrentUser.As<UserProfilePart>();
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="@Url.AvatarUrl(profilePart, this, 32)" alt="Profile image" class="profile-img-s"> @WorkContext.CurrentUser.UserName <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        @if (AuthorizedFor(StandardPermissions.AccessAdminPanel)) {
                            <li><a href="@Url.Action("Index", "Admin", new { area = "Dashboard" })">@T("Dashboard")</a></li>
                        }
                        <li><a href="@Url.Action("Index", "Profile", new { area = "OrchardPros.Membership" })">@T("Profile")</a></li>
                        <li><a href="@Url.Action("TicketsCreated", "Profile", new { area = "OrchardPros.Membership" })">@T("Tickets Created")</a></li>
                        <li><a href="@Url.Action("TicketsFollowed", "Profile", new { area = "OrchardPros.Membership" })">@T("Tickets Followed")</a></li>
                        <li><a href="@Url.Action("Settings", "Profile", new { area = "OrchardPros.Membership" })">@T("Settings")</a></li>
                        <li><a href="@Url.Action("Signout", "Account", new { area = "OrchardPros.Membership" })">@T("Sign out")</a></li>
                    </ul>
                </li>
            }
        </ul>
    </div>
</nav> <!-- /.sitebar -->