@using Orchard.ContentManagement
@using Orchard.Security
@using OrchardPros.Membership.Helpers
@using OrchardPros.Membership.Models
@using OrchardPros.Tickets.Helpers
@using OrchardPros.Tickets.Models
@{
    var ticket = (Ticket)Model.Ticket;
    var user = (IUser)Model.User;
    var profilePart = user.As<UserProfilePart>();
    var lastModifier = (IUser) Model.LastModifier;
    var categories = (IDictionary<int, string>)Model.Categories;
    var tags = (IDictionary<int, string>)Model.Tags;
}
<aside>
    <div class="panel panel-default ticket-details">
        <div class="panel-heading">
            <h3 class="panel-title">@T("Ticket Details")</h3>
        </div>
        <div class="panel-body">
            <div class="ticket-info">
                <a href="#" class="pull-left"><img src="@Url.AvatarUrl(profilePart, this, 64)" class="media-object profile-img-m"></a>
                <span class="ticket-timestamp">@T("Created {0} by", Display.DateTimeRelative(dateTimeUtc: ticket.CreatedUtc))<span class="author"><a href="#">@user.UserName</a></span></span>
                <span class="ticket-timestamp">@T("Updated {0} by", Display.DateTimeRelative(dateTimeUtc: ticket.LastModifiedUtc()))<span class="author"><a href="#">@lastModifier.UserName</a></span></span>
            </div>
            <div class="ticket-summary">
                @foreach (var category in categories) {
                    <a href="#" class="category-link">@category.Value</a>
                }
                <div class="tags">
                    @foreach (var tag in tags) {
                        <a href="#"><span class="label label-default">@tag.Value</span></a>
                    }
                </div>
            </div>
            <div class="ticket-status">
                <ul>
                    <li class="votes"><span class="number">0</span><span class="type">@T("votes")</span></li>
                    <li class="views"><span class="number">@ticket.ViewCount</span><span class="type">@T("views")</span></li>
                    <li class="replies"><span class="number">@ticket.Replies.Count</span><span class="type">@T("replies")</span></li>
                </ul>
            </div>
        </div> <!-- /.panel -->
        <div class="panel-body ticket-deadline">
            <h2 class="ticket-expiration">@ticket.GetExpirationText(T)</h2>
            @if (ticket.Bounty != null) {
                <span class="ticket-bounty">@T("Bounty: {0:c}", ticket.Bounty)</span>
            }
            <span class="ticket-exp">@T("EXP: {0}", ticket.ExperiencePoints)</span>
        </div>
        <div class="panel-body">
            <div class="ticket-attachments">
                <h3>@T("Attachments")</h3>
                <ul>
                    @foreach (var attachment in ticket.Attachments) {
                        <li><a href="#"><img src="~/themes/orchardpros/images/file-docx.png" alt="Document">@attachment.FileName</a></li>
                    }
                </ul>
            </div>
        </div> <!-- /.ticket-details -->
    </div>
</aside>