@model OrchardPros.ViewModels.TicketViewModel
@{
    Style.Include("select2.css");
    Style.Include("select2-bootstrap.css");
    Script.Require("jQuery");
    Script.Include("select2.js", "select2.min.js");
    Script.Include("select2-initialization.js");
}
<div class="form-group">
    @Html.LabelFor(m => m.Subject, T("Subject"))
    @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", placeholder = T("Give your ticket a title") })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Type, T("Type"))
    @Html.EditorFor(m => m.Type)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Body, T("Body"))
    @Html.EditorFor(m => m.Body, new { Placeholder = "Describe your question or issue in detail" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Categories, T("Categories"))
    @Html.EditorFor(m => m.Categories, new { Terms = Model.CategoryTerms })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Tags, T("Tags"))
    @Html.HiddenFor(m => m.Tags, new { data_tags = Url.Action("Search", "Tag", new { Area = "OrchardPros" }), @class = "form-control", placeholder = T("Tag your ticket, separated by comma [,]") })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ExternalUrl, T("External URL"))
    @Html.TextBoxFor(m => m.ExternalUrl, new { @class = "form-control", placeholder = T("Optionally link to an external page, for example, an issue on CodePlex or question on StackOverflow.") })
</div>
<div class="form-group">
    <label for="exp">Experience points</label>
    <p>@T("This ticket will be worth <strong>{0} EXP</strong>.", Model.ExperiencePoints)</p>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.DeadlineUtc, T("Deadline"))
    @Html.TextBoxFor(m => m.DeadlineUtc, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.EditorFor(m => m.Attachments)
</div>