@model OrchardPros.ViewModels.BioViewModel
@{
    Layout.Title = @T("Edit Bio");
}
@Html.ValidationSummary()
@using (Html.BeginFormAntiForgeryPost(Url.Action("Edit", "Bio", new { area = "OrchardPros" }), FormMethod.Post, new { role = "form", @class = "form-horizontal" })) {
    @Html.EditorForModel()
    <fieldset>
        <button class="btn btn-success btn-edit" type="submit" name="submit.Save" value="submit.Save">@T("Save")</button>
        @Html.ProfileLink(T("Cancel").ToString(), Model.User.UserName, new { @class = "btn btn-default" })
    </fieldset>
}