@model OrchardPros.Tickets.ViewModels.TicketViewModel
<div class="form-group">
    @Html.LabelFor(m => m.Title, T("Title"))
    @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = T("Give your ticket a title") })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Type, T("Type"))
    @Html.EditorFor(m => m.Type)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Description, T("Description"))
    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = T("Describe your issue in details"), rows = 5 })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Categories, T("Categories"))
    @Html.EditorFor(m => m.Categories, new { Terms = Model.CategoryTerms })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Tags, T("Tags"))
    @Html.TextBoxFor(m => m.Tags, new { @class = "form-control", placeholder = T("Tag your ticket, separated by comma [,]") })
    @Html.ValidationMessageFor(m => m.Tags)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Bounty, T("Bounty"))
    @Html.TextBoxFor(m => m.Bounty, new { @class = "form-control", placeholder = T("Award the best solution with an optional bounty (in US Dollars)") })
    @Html.ValidationMessageFor(m => m.Bounty)
</div>
<div class="form-group">
    <label for="exp">Experience points</label>
    <p>@T("This ticket will worth <strong>{0} EXP</strong>.", Model.ExperiencePoints)</p>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.DeadlineUtc, T("Deadline"))
    @Html.TextBoxFor(m => m.DeadlineUtc, new { @class = "form-control" })
</div>
<div class="form-group">
    <label>@T("Attachments")</label>
    <div class="well" id="file-upload">
        <p class="h3">@T("Drag &amp; Drop attachment(s) or")</p>
        <button class="btn btn-default btn-upload" type="button">@T("Browse Files")</button>
    </div>
</div>