@using Orchard.ContentManagement
@using Orchard.Core.Common.Models
@using OrchardPros.Models
@{
    var profile = (UserProfilePart) Model.Profile;
    var recommendations = profile.Recommendations;
}
<fieldset>
    <legend>@T("Recommendations")</legend>
    <table class="items">
        <thead>
            <tr>
                <th>@T("Id")</th>
                <th>@("Recommended By")</th>
                <th>@("Text")</th>
                <th>@("Created")</th>
                <th>@("Approved")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recommendation in recommendations) {
                var commonPart = recommendation.As<CommonPart>();
                <tr>
                    <td>@recommendation.Id</td>
                    <td>@recommendation.RecommendingUser.UserName</td>
                    <td>@recommendation.Body</td>
                    <td>@commonPart.CreatedUtc</td>
                    <td>@recommendation.Approved</td>
                    <td>
                        @Html.ActionLink(T("Edit").ToString(), "Edit", "Recommendation", new { recommendation.Id, area = "OrchardPros" }, null) @T("|")
                        @Html.ActionLink(T("Delete").ToString(), "Delete", "Recommendation", new { recommendation.Id, area = "OrchardPros" }, new { itemprop = "UnsafeUrl RemoveUrl" })
                        @if (!recommendation.Approved) {
                            @T("| ") @Html.ActionLink(T("Approve").ToString(), "Approve", "Recommendation", new {recommendation.Id, area = "OrchardPros"}, new { itemprop = "UnsafeUrl" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.ActionLink(T("Add").ToString(), "Create", "Recommendation", new { profile.Id, area = "OrchardPros" }, new { @class = "button" })
</fieldset>