@using OrchardPros.ViewModels
@Html.ValidationSummary()
@using (Html.BeginFormAntiForgeryPost()) {
    <fieldset>
        <div class="form-group">
            <label for="sign-up-username">@T("Username")</label>
            <input type="text" class="form-control" id="sign-up-username" name="userName">
        </div>
        <div class="form-group">
            <label for="sign-up-email">@T("E-mail")</label>
            <input type="email" class="form-control" id="sign-up-email" name="email">
        </div>
        <div class="form-group">
            <label for="sign-up-password">@T("Password")</label>
            <input type="password" class="form-control" id="sign-up-password" name="password">
        </div>
        <div class="form-group">
            <label for="sign-up-password2">@T("Repeat password")</label>
            <input type="password" class="form-control" id="sign-up-password2" name="passwordRepeat">
        </div>
        <div class="form-group">
            <div class="checkbox pull-left">
                <label>
                    <input type="checkbox" class="pull-left">
                    <p class="small">@T("I have read and agree to the <a href=\"{0}\" target=\"_blank\">Terms of Service</a>.", "#")</p>
                </label>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary btn-lg">@T("Sign Up")</button>
        </div>
    </fieldset>
}