@Html.ValidationSummary()
@using (Html.BeginFormAntiForgeryPost()) {
    <fieldset>
        <div class="form-group">
            <label for="userNameOrEmail">@T("User Name or Email Address"))</label>
            <input type="text" id="userNameOrEmail" name="userNameOrEmail" class="form-control" placeholder="@T("Enter username or email")" />
        </div>
        <div class="form-group">
            <label for="password">@T("Password"))</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="@T("Enter password")" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary btn-lg">@T("Sign In")</button>
        </div>
    </fieldset>
}