@model OrchardPros.Models.StripeSettingsPart
<fieldset>
    <legend>@T("Stripe Settings")</legend>
    <div class="form-group">
        @Html.LabelFor(m => m.EndpointUrl, T("Endpoint Url"))
        @Html.TextBoxFor(m => m.EndpointUrl, new { @class = "text large" })
    </div>
</fieldset>
<fieldset>
    <legend>@T("Development")</legend>
    <div class="form-group">
        @Html.LabelFor(m => m.TestSecretKey, T("Secret Key"))
        @Html.TextBoxFor(m => m.TestSecretKey, new { @class = "text large" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TestPublishableKey, T("Publishable Key"))
        @Html.TextBoxFor(m => m.TestPublishableKey, new { @class = "text large" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TestClientId, T("Client ID"))
        @Html.TextBoxFor(m => m.TestClientId, new { @class = "text large" })
    </div>
</fieldset>
<fieldset>
    <legend>@T("Production")</legend>
    <div class="form-group">
        @Html.LabelFor(m => m.LiveSecretKey, T("Secret Key"))
        @Html.TextBoxFor(m => m.LiveSecretKey, new { @class = "text large" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LivePublishableKey, T("Publishable Key"))
        @Html.TextBoxFor(m => m.LivePublishableKey, new { @class = "text large" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LiveClientId, T("Client ID"))
        @Html.TextBoxFor(m => m.LiveClientId, new { @class = "text large" })
    </div>
</fieldset>
<fieldset>
    <legend>@T("Mode")</legend>
    <div class="form-group">
        <label>
            @Html.RadioButtonFor(m => m.Live, false)
            @T("Development")
        </label>
        <label>
            @Html.RadioButtonFor(m => m.Live, true)
            @T("Production")
        </label>
    </div>
</fieldset>