@model OrchardPros.Models.TicketPart
<fieldset>
    <div class="form-group">
        @Html.LabelFor(m => m.Type, T("Type"))
        @Html.EditorFor(m => m.Type)
        @Html.ValidationMessageFor(m => m.Type)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Bounty, T("Bounty"))
        @Html.TextBoxFor(m => m.Bounty, new { @class = "text small" })
        @Html.ValidationMessageFor(m => m.Bounty)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ExperiencePoints, T("EXP"))
        @Html.TextBoxFor(m => m.ExperiencePoints, new { @class = "text small" })
        @Html.ValidationMessageFor(m => m.ExperiencePoints)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DeadlineUtc, T("Deadline"))
        @Html.TextBoxFor(m => m.DeadlineUtc, new { @class = "text medium" })
        @Html.ValidationMessageFor(m => m.DeadlineUtc)
    </div>
</fieldset>